/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */

/* * {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
} */

/* Global Styles 
----------------------------------------------------------------- */

/*  COLORS TO CONSIDER

#E8E8EE
#CACFE2
#D7D4E5
#8E9FBB
#475069 */

h2,
p {
  line-height: 0.9;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
}

header {
  text-align: center;
}

h1,
h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}
a {
  color: burlywood;
}

a:hover {
  text-decoration: none;
}

header p {
  /* color: #aacdad; */
  color: burlywood;
}

/* Header and Footer
----------------------------------------------------------------- */

.img {
  border-radius: 50%;
}

header,
footer {
  background: #475069;
  color: white;
}

/* Work Experience
----------------------------------------------------------------- */
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 35px 0;
}
.work-experience {
  background: #e8e8ee;
}

/* Education
----------------------------------------------------------------- */

.education {
  padding: 0.5rem;
  background: #cacfe2;
}

/* Footer
----------------------------------------------------------------- */
.contact-info a {
  /* background:white; */
  padding: 10px;
  display: inline-block;
}

footer {
  text-align: center;
}
