/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */


/* * {
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
} */


/* Global Styles 
----------------------------------------------------------------- */

/*  COLORS TO CONSIDER

#E8E8EE
#CACFE2
#D7D4E5
#8E9FBB
#475069 */


body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 0.9;
}
h1, h2 {

  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}  
a {
    color: burlywood
  }

a:hover {
  text-decoration: none;
}

header p {
  color: #aacdad;
}

header h1, header h2 {
  color: #DAFFED
}

/* Header and Footer
----------------------------------------------------------------- */
header, footer {
  background: #475069;
  color: white;
}



/* Work Experience
----------------------------------------------------------------- */

.work-experience {
  background:#E8E8EE;
}



/* Education
----------------------------------------------------------------- */

.education {
  background:#CACFE2;
}