.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  /* grid-column-gap: 10px;
    grid-row-gap: 20px; */

  grid-gap: 10px;
}

.grid-item {
  border: 1px solid #222;
  text-align: center;
}
h2 {
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 14px;
}
img {
  width: 100%;
}
